# 1st API
 ### crypto currency. was pretty clean dataframe

In [15]:
import json
import pandas as pd
import requests

response = requests.get('https://api.coinpaprika.com/v1/coins')
#results = response.json()
#results

In [16]:
data = pd.DataFrame(results)
data.head(10)

                 id          name symbol  rank  is_new  is_active   type
0       btc-bitcoin       Bitcoin    BTC     1   False       True   coin
1      eth-ethereum      Ethereum    ETH     2   False       True   coin
2  bnb-binance-coin  Binance Coin    BNB     3   False       True   coin
3       usdt-tether        Tether   USDT     4   False       True  token
4        sol-solana        Solana    SOL     5   False       True  token
5       ada-cardano       Cardano    ADA     6   False       True   coin
6           hex-hex           HEX    HEX     7   False       True  token
7           xrp-xrp           XRP    XRP     8   False       True   coin
8      dot-polkadot      Polkadot    DOT     9   False       True   coin
9     doge-dogecoin      Dogecoin   DOGE    10   False       True   coin

# 2nd API

In [17]:
resp = requests.get('https://www.fruityvice.com/api/fruit/all')
resp = resp.json()
#resp

In [8]:
fruit = pd.DataFrame(resp)
fruit.head(10)

,genus,name,id,family,order,nutritions
0,Malus,Apple,6,Rosaceae,Rosales,"{'carbohydrates': 11.4, 'protein': 0.3, 'fat':..."
1,Prunus,Apricot,35,Rosaceae,Rosales,"{'carbohydrates': 3.9, 'protein': 0.5, 'fat': ..."
2,Musa,Banana,1,Musaceae,Zingiberales,"{'carbohydrates': 22, 'protein': 1, 'fat': 0.2..."
3,Fragaria,Blueberry,33,Rosaceae,Rosales,"{'carbohydrates': 5.5, 'protein': 0, 'fat': 0...."
4,Prunus,Cherry,9,Rosaceae,None,"{'carbohydrates': 12, 'protein': 1, 'fat': 0.3..."
5,Durio,Durian,60,Malvaceae,Malvales,"{'carbohydrates': 27.1, 'protein': 1.5, 'fat':..."
6,Vitis,Grapes,47,Vitaceae,Vitales,"{'carbohydrates': 18.1, 'protein': 0.72, 'fat'..."
7,Psidium,Guava,37,Myrtaceae,Myrtales,"{'carbohydrates': 14, 'protein': 2.6, 'fat': 1..."
8,Citrus,Lemon,26,Rutaceae,Sapindales,"{'carbohydrates': 9, 'protein': 1.1, 'fat': 0...."
9,Citrus,Lime,44,Rutaceae,Sapindales,"{'carbohydrates': 8.4, 'protein': 0.3, 'fat': ..."

In [9]:
def flatten(fruit, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(fruit[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        fruit = pd.concat([fruit, flattened], axis=1)
        fruit = fruit.drop(column, axis=1)
    return fruit

In [11]:
dict(fruit['nutritions'])
pd.DataFrame(dict(fruit['nutritions']))
pd.DataFrame(dict(fruit['nutritions'])).transpose()

    carbohydrates  protein   fat  calories  sugar
0           11.40     0.30  0.40      52.0  10.30
1            3.90     0.50  0.10      15.0   3.20
2           22.00     1.00  0.20      96.0  17.20
3            5.50     0.00  0.40      29.0   5.40
4           12.00     1.00  0.30      50.0   8.00
5           27.10     1.50  5.30     147.0   6.75
6           18.10     0.72  0.16      69.0  15.48
7           14.00     2.60  1.00      68.0   9.00
8            9.00     1.10  0.30      29.0   2.50
9            8.40     0.30  0.10      25.0   1.70
10          15.00     0.82  0.38      60.0  13.70
11           8.00     0.00  0.00      34.0   8.00
12           8.30     1.00  0.20      43.0   8.20
13          11.00     0.00  0.40      43.0   1.00
14          15.00     0.40  0.10      57.0  10.00
15          18.00     0.00  0.00      81.0  18.00
16          13.12     0.54  0.12      50.0   9.85
17          12.00     1.20  0.70      53.0   4.40
18           5.50     0.80  0.40      29.0   5.40
19           3.90     0.90  0.20      74.0   2.60
20           8.00     0.60  0.20      30.0   6.00

In [12]:
nested_columns = ['nutritions']

flat = flatten(fruit, nested_columns)
flat

,genus,name,id,family,order,nutritions_carbohydrates,nutritions_protein,nutritions_fat,nutritions_calories,nutritions_sugar
0,Malus,Apple,6,Rosaceae,Rosales,11.40,0.30,0.40,52.0,10.30
1,Prunus,Apricot,35,Rosaceae,Rosales,3.90,0.50,0.10,15.0,3.20
2,Musa,Banana,1,Musaceae,Zingiberales,22.00,1.00,0.20,96.0,17.20
3,Fragaria,Blueberry,33,Rosaceae,Rosales,5.50,0.00,0.40,29.0,5.40
4,Prunus,Cherry,9,Rosaceae,None,12.00,1.00,0.30,50.0,8.00
5,Durio,Durian,60,Malvaceae,Malvales,27.10,1.50,5.30,147.0,6.75
6,Vitis,Grapes,47,Vitaceae,Vitales,18.10,0.72,0.16,69.0,15.48
7,Psidium,Guava,37,Myrtaceae,Myrtales,14.00,2.60,1.00,68.0,9.00
8,Citrus,Lemon,26,Rutaceae,Sapindales,9.00,1.10,0.30,29.0,2.50
9,Citrus,Lime,44,Rutaceae,Sapindales,8.40,0.30,0.10,25.0,1.70
10,Mangifera,Mango,27,Anacardiaceae,Sapindales,15.00,0.82,0.38,60.0,13.70
11,Cucumis,Melon,41,Cucurbitaceae,Cucurbitaceae,8.00,0.00,0.00,34.0,8.00
12,Citrus,Orange,2,Rutaceae,Sapindales,8.30,1.00,0.20,43.0,8.20
13,Carica,Papaya,42,Caricaceae,Caricacea,11.00,0.00,0.40,43.0,1.00
14,Pyrus,Pear,4,Rosaceae,Rosales,15.00,0.40,0.10,57.0,10.00
15,Diospyros,Persimmon,52,Ebenaceae,Rosales,18.00,0.00,0.00,81.0,18.00
16,Ananas,Pineapple,10,Bromeliaceae,Poales,13.12,0.54,0.12,50.0,9.85
17,Rubus,Raspberry,23,Rosaceae,Rosales,12.00,1.20,0.70,53.0,4.40
18,Fragaria,Strawberry,3,Rosaceae,Rosales,5.50,0.80,0.40,29.0,5.40
19,Solanum,Tomato,5,Solanaceae,Solanales,3.90,0.90,0.20,74.0,2.60
20,Citrullus,Watermelon,25,Cucurbitaceae,Cucurbitales,8.00,0.60,0.20,30.0,6.00

# 3rd API

In [ ]:
# https://whiskyhunter.net/api/auction_data/catawiki/

In [18]:
whisky = requests.get('https://whiskyhunter.net/api/auction_data/catawiki/')
whisky = whisky.json()
#whisky

In [14]:
whisky = pd.DataFrame(whisky)
whisky.head(10)

,dt,winning_bid_max,winning_bid_min,winning_bid_mean,auction_trading_volume,auction_lots_count,all_auctions_lots_count,auction_name,auction_slug
0,2021-10-01,12677.0,1.0,175.99,743018.0,4222,43263,Catawiki Whisky Auction,catawiki
1,2021-09-01,8997.0,1.0,177.90,729223.0,4099,38295,Catawiki Whisky Auction,catawiki
2,2021-08-01,4779.0,3.0,170.76,544215.0,3187,42402,Catawiki Whisky Auction,catawiki
3,2021-07-01,7699.0,9.0,188.65,568226.0,3012,30036,Catawiki Whisky Auction,catawiki
4,2021-06-01,5576.0,9.0,179.78,651526.0,3624,37703,Catawiki Whisky Auction,catawiki
5,2021-05-01,5212.0,9.0,178.74,778943.0,4358,48110,Catawiki Whisky Auction,catawiki
6,2021-04-01,8094.0,5.0,162.83,766287.0,4706,43072,Catawiki Whisky Auction,catawiki
7,2021-03-01,8656.0,14.0,187.35,928329.0,4955,38181,Catawiki Whisky Auction,catawiki
8,2021-02-01,5292.0,9.0,187.78,904720.0,4818,35127,Catawiki Whisky Auction,catawiki
9,2021-01-01,6293.0,7.0,194.09,905052.0,4663,32021,Catawiki Whisky Auction,catawiki